:root {
    --dark-blue: #363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 93,75%;
}
body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: min(95vw, 1200px);
    margin: auto;
}
/* Titulos ================= */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}
/* Links and Buttons ================= */
a {
    color:var(--green);
    text-decoration: none;
}
a:hover {
    color:#3dd705;
}
button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0.25rem;
    color: white;
    background: var(--green);
    padding: 0;
    cursor: pointer;
}
button:hover {
    background: var(--light-green);
}
.button.new {
    display: inline-block;
    margin-bottom: 0.8rem;
}
.button.cancel {
    color:var(--red);
    border: 2px var(--red) solid;
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}
.button.cancel:hover {
    opacity: 1;
}
/* Header ================= */
header {
    background: #4640ab;
    padding: 1rem 0 1rem;
    text-align: center;
}
#logo {
    color: #fff;
    font-weight: 100;
}
/*CSS trick para manter o elemento para leitores de tela*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
/* Carteira ================= */



#carteira {
    display: block;
    width: 100%;
    overflow-x: auto;
}
#carteira table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;
}
#carteira  table tbody tr {
    opacity: 0.7;
    opacity: 1;
}
#carteira  table tbody tr:hover {
    opacity: 1.5;
}
#carteira  table thead th {
    background: #969cb3;
    color: white;
    font-weight: normal;
    padding: 0.3rem;
    text-align: left;
}
#carteira  table td {
    background: #fff;
    padding: 0.31rem;
    color: #969cb3;
    vertical-align: top;
}
#carteira  table td span.ativo {
    padding: 1px 6px;
    border: 1px solid #e8e8e8;
    color: #525252;
    border-radius: 5px;
    width: 65px;
    display: flex;
}
#carteira  table td span.ativo.selecionado {
    background-color: #e92929;
    color: white;
}
#carteira  table td span.alta {
    color: var(--red);
}
#carteira  table td span.baixa {
    color: var(--green)
}
#carteira  table td span.atualizacao {
    display: block;
    font-size: 0.6rem;
    width: 5rem;
}
#carteira  table thead th:first-child,
#carteira  table tbody td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
    width: 165px;
}
#carteira  table thead th:nth-child(8),
#carteira  table tbody td:nth-child(8) {
    width: 100px;
}
#carteira  table thead th:last-child,
#carteira  table tbody td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
    width: 100px;
}
#carteira  table tbody td.description {
    color: var(--dark-blue);
}
#carteira  table tbody td.income {
    color: #12a453
}
#carteira  table tbody td.expense {
    color: #e92929
}
#carteira  table tbody td.date {
    color: inherit
}
/* Modal ================= */
.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal {
    background: #f0f2f5;
    padding: 2.4rem;
    width: 90%;
    max-width: 500px;
}
/* Form =================== */
#form {}
#form h2 {
    margin-top: 0;
}
#form form input {
    border:none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}
.input-group {
    margin-bottom: 0.8rem;
}
.input-group small {
    opacity: 0.4;
}
.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-group.actions .button, 
.input-group.actions button {
    width:48%;
}
/* Footer ================= */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}

/* Responsive ================= */
@media (min-width: 800px) {
    html {
        font-size: 87,5%;
    }
    #balance {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:2rem;
    }
}